<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
        <title>Zip Form</title>
    </head>
    <body>
        <h1>
            Select a country and enter a zip code
        </h1>
        <form>
            <label for="country">Choose a country:</label>
            <select id="country" name="country">
            <option value="us">US</option>
            <option value="uk">UK</option>
            <option value="france">France</option>
            <option value="spain">Spain</option>
            <option value="mexico">Mexico</option>
            <option value="canada">Canada</option>
            <option value="poland">Poland</option>
            <option value="belgium">Belgium</option>
            <option value="brazil">Brazil</option>
            <option value="chile">Chile</option>
            </select>
        </form>
    </body>
</html>